<h3>파일 업로드 테스트</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" />
    <input type="submit" name="name" value="Upload" />
</form>

<hr />

<h3>파일 다운로드 테스트</h3>

<a href="/StorageManagerTest/Download?FileName=MCT.png">MCT.png</a>
